<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
	<siteMapNode SystemName="Home" ixResource="Admin.Home" controller="Home" action="Overview">
		<siteMapNode SystemName="Dashboard" ixResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fas fa-desktop" />
		<siteMapNode SystemName="Customers" ixResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="far fa-user" >
			<siteMapNode SystemName="Customers list" ixResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="Customer roles" ixResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="Online customers" ixResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="Activity logs" ixResource="Admin.Customers.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityLogs" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Activity types" ixResource="Admin.Customers.ActivityLogType" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityTypes" IconClass="far fa-dot-circle"/>
		</siteMapNode>
		<siteMapNode SystemName="Content Management" ixResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManagePages, ManageForums, ManageMessageTemplates" IconClass="fas fa-cubes">
			<siteMapNode SystemName="Pages" ixResource="Admin.ContentManagement.Pages" PermissionNames="ManagePages" controller="Page" action="List" IconClass="far fa-dot-circle" />
			<siteMapNode SystemName="Message templates" ixResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="News items" ixResource="Admin.ContentManagement.News.NewsItems" PermissionNames="ManageNews" controller="News" action="NewsItems" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="News comments" ixResource="Admin.ContentManagement.News.Comments" PermissionNames="ManageNews" controller="News" action="NewsComments" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Blog posts" ixResource="Admin.ContentManagement.Blog.BlogPosts" PermissionNames="ManageBlog" controller="Blog" action="BlogPosts" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Blog comments" ixResource="Admin.ContentManagement.Blog.Comments" PermissionNames="ManageBlog" controller="Blog" action="BlogComments" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Polls" ixResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Manage forums" ixResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="far fa-dot-circle"/>
		</siteMapNode>
		<siteMapNode SystemName="Configuration" ixResource="Admin.Configuration" PermissionNames="ManageSites,ManageCountries,ManageLanguages,ManageSettings,ManageAppSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
		   IconClass="fas fa-cogs">
			<siteMapNode SystemName="Settings" ixResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="far fa-dot-circle" >
				<siteMapNode SystemName="General settings" ixResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Customer and user settings" ixResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Blog settings" ixResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="far fa-circle"/>
				<siteMapNode SystemName="News settings" ixResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Forums settings" ixResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Media settings" ixResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="far fa-circle"/>
				<siteMapNode SystemName="App settings" ixResource="Admin.Configuration.AppSettings" PermissionNames="ManageAppSettings" controller="Setting" action="AppSettings" IconClass="far fa-circle"/>
				<siteMapNode SystemName="All settings" ixResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="far fa-circle"/>
			</siteMapNode>
			<siteMapNode SystemName="Email accounts" ixResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Sites" ixResource="Admin.Configuration.Sites" PermissionNames="ManageSites" controller="Site" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Countries" ixResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Languages" ixResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Access control list" ixResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="far fa-dot-circle" />
			<!--<siteMapNode SystemName="Widgets" ixResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="far fa-dot-circle"/>-->
			<siteMapNode SystemName="WidgetZones" ixResource="Admin.ContentManagement.WidgetZones" PermissionNames="ManageWidgets" controller="Widget" action="WidgetZoneList"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Widget attributes" ixResource="Admin.ContentManagement.WidgetAttributes" PermissionNames="ManageWidgets" controller="WidgetAttribute" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Layouts" ixResource="Admin.ContentManagement.Layouts" PermissionNames="ManageLayouts" controller="Layout" action="List"  IconClass="far fa-dot-circle"/>

			<siteMapNode SystemName="Authentication" ixResource="Admin.Configuration.Authentication" PermissionNames="ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods" IconClass="far fa-dot-circle">
				<siteMapNode SystemName="External authentication methods" ixResource="Admin.Configuration.Authentication.ExternalMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="Authentication" action="ExternalMethods" IconClass="far fa-circle"/>
				<siteMapNode SystemName="Multi-factor authentication methods" ixResource="Admin.Configuration.Authentication.MultiFactorMethods" PermissionNames="ManageMultifactorAuthenticationMethods" controller="Authentication" action="MultiFactorMethods" IconClass="far fa-circle"/>
			</siteMapNode>

			<siteMapNode SystemName="Local plugins" ixResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="All plugins and themes" ixResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed"  IconClass="far fa-dot-circle"/>
		</siteMapNode>
		<siteMapNode SystemName="System" ixResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fas fa-cube">
			<siteMapNode SystemName="System information" ixResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Log" ixResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Warnings" ixResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Maintenance" ixResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Queued emails" ixResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Schedule tasks" ixResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Search engine friendly names" ixResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="far fa-dot-circle"/>
			<siteMapNode SystemName="Templates" ixResource="Admin.System.Templates" PermissionNames="ManageMaintenance" controller="Template" action="List" IconClass="far fa-dot-circle"/>
		</siteMapNode>
		<siteMapNode SystemName="Third party plugins" ixResource="Admin.Plugins" IconClass="fas fa-bars" />
	</siteMapNode>
</siteMap>
